@model WebApplication2.Models.Service
@{
    ViewBag.Title = Model.Name;
}
<h2>Услуга: @Model.Name</h2>
 <div class="row featurette">
          <div class="col-md-7 order-md-2">
              <h5 class="">Длительность: @Model.Duration</h5>
            <h2 class="featurette-heading">@Model.Description</h2>

              <div class="corner-box-6" style="position: absolute; bottom: -17px; left: 0;">
    <div class="corner-ribbon-6 corner-ribbon-6-top-right">
        <span>-20%</span>
    </div> 
   <h3 style="display:flex;justify-content: center; margin-top: 50px;">@Model.Cost ₽</h3>
</div>
             
              <a asp-action="AddOrder" asp-route-id="@Model.Id" class="btn btn-success" asp-controller="Service" style=" position: absolute; bottom: 0px; right: 0;" >Заказать</a>
          </div>
         
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="@Model.ImgSource" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>