@model IEnumerable<WebApplication2.Models.Service>
@{
    ViewBag.Title = "Все Услуги";
}
     @if (User.IsInRole("admin")){
<a asp-action="CreateService">Добавить Услугу</a>
    }
     <div class="row">
    @foreach (var item in Model)
    {
        
       <div class="corner-box-1 card col-sm-3 m-1" style="width: 18rem;">
           <div class="corner-box-1-content">
  <div class="card-body" style="padding:0.7rem 0;">
       @if (User.IsInRole("admin")){  
      <a asp-action="EditService" asp-controller="Service" asp-route-id="@item.Id">Редактировать</a> <a asp-action="DeleteService" asp-controller="Service" asp-route-id="@item.Id">Удалить</a>
      }
    <h5 class="card-title">@item.Name</h5>
    <h6 class="card-subtitle mb-2 text-muted">Длительность: @item.Duration</h6>
    <p class="card-text">@item.Description</p>
      <hr style="margin:0.5rem 0;"> 
    <a asp-action="DetailsService" class="btn btn-primary" asp-controller="Service" asp-route-id="@item.Id">Подробнее</a>
  </div>
</div>    
       </div>
    }
</div>